.game-container {
    height: 100vh;
    width: 100vw;
    background-color: #6566;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "image sidebar"
        "quiz sidebar";
}

