.container {
  background-color: rgb(124, 43, 124);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  &.game-started {
    height: 0;
    transition: height linear .5s;
  }

  .container__button {
    border: 4px solid rgb(142, 69, 142);
    background-color: rgb(101, 12, 101);
    color: white;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
  }
}
